services:
  ci-image:
    build:
      context: .
      dockerfile: Dockerfile.ci
    image: localhost:5000/bolt-ci:20251217
    command: ["/bin/bash", "-c", "Bolt CI Image"]
  conan_server:
    build:
      context: .
      dockerfile: Dockerfile.conanserver
    image: localhost:5000/conan-server:latest
    env_file:
      - variables.env
    ports:
      - '9300:9300'
    volumes:
      - ${HOST_DATA_DIR}/conan-server-data:/var/conan/data:rw
    command: ["/usr/local/bin/start-conan-server.sh"]
  bolt-registry:
    image: registry:2
    ports:
      - '5000:5000'
    volumes:
      - ${HOST_DATA_DIR}/image-registry:/var/lib/registry:rw
  runner-medium:
    extends:
      service: base-runner
      file: runner-base-compose.yml
    privileged: true
    scale: 4
    volumes:
      - ${HOST_DATA_DIR}/runner-data/docker:${DOCKER_DATA_DIR}
      - ${HOST_DATA_DIR}/runner-data/medium/workspace:/data/workspace
      - ${HOST_DATA_DIR}/ccache-data:/data/ccache-data
    environment:
      - RUNNER_LABELS=medium
    deploy:
      resources:
        limits:
          cpus: '16.0'
          memory: 50G
  runner-small:
    extends:
      service: base-runner
      file: runner-base-compose.yml
    privileged: true
    scale: 5
    volumes:
      - ${HOST_DATA_DIR}/runner-data/docker:/data/docker
      - ${HOST_DATA_DIR}/runner-data/small/workspace:/data/workspace
      - ${HOST_DATA_DIR}/ccache-data:/data/ccache-data
    environment:
      - RUNNER_LABELS=small
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 2G
